<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <add key="number_of_episodes" value="{{ number_of_episodes | default("1", false)}}" />
      <add key="number_of_steps" value="{{ number_of_steps | default("1", false)}}" />
      <add key="sleep_time" value="0" />
	   <add key="hours" value="0" />
      <add key="minutes" value="0" />
      <add key="technology" value="html" />
      <add key="dataset_xml_path" value="" />
      <add key="epsilon" value="0.0" />
      <add key="initialValue" value="0" />
      <add key="gamma" value="0.9" />
      <add key="alpha" value="0.9" />
      <add key="stateIdentification" value="{{stateIdentification}}" />
      <add key="dataSource" value="" />
      <add key="username" value="lta" />
      <add key="password" value="lt4VM" />
      <add key="initialCatalog" value="TestTosca" />
      <add key="complexActionProbability" value="{{complexActionProbability}}" />
	  <add key="driver" value="selenium" />
      <add key="locatorStrategy" value="" />
      <add key="saveScreenshots" value="false" />
	  <add key="relationMakerType" value="MAXSIMILARITY_MEANLABELS_NEW" />
      <add key="qualityCheck" value="WEIGHT" />
      <add key="existingTestSuite" value="" />
      <add key="application" value="{{application}}" />
	  <add key="tosca_workspace_path" value="" />
      <add key="lemmatizer" value="{{abt_dependencies | default("", false)}}/Lemmatizer" />
      <add key="browserDriverPath" value="{{abt_dependencies | default("", false)}}/BrowserDriver" />
      <add key="scanningWidgetsFilter" value="{{abt_dependencies | default("", false)}}/Filters/scanning-filter-TRICENTIS-SELENIUM.xml" />
      <add key="word2vecModel" value="{{abt_dependencies | default("", false)}}/GoogleNews-vectors-negative300-SLIM.bin" />
      <add key="wordnet" value="{{abt_dependencies | default("", false)}}/Wordnet" />
      <add key="outputPath" value="{{epoch_folder_path | default("", false)}}" />
      <add key="linkPath" value="{{abt_dependencies | default("", false)}}/Link/Link.jar" />
      <add key="compiledLibraryPath" value="{{abtToolPath}}/ABT_Selenium.exe" />
      <add key="useCaching" value="false" />
      <add key="numCachingIterations" value = "0" />
   </appSettings>
</configuration>
