outputPath = "{{epoch_folder_path}}"

qagents_files_paths = "{{qagents}}"
{% if starting_qAgent_path is defined%}
starting_agent_file_path = "{{starting_qAgent_path}}"
{% endif %}

ABT_selenium_config_file = "{{ abt_selenium_configFilePath}}"