<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <add key="number_of_episodes" value="{{ number_of_episodes | default("1", false)}}" />
      <add key="number_of_steps" value="{{ number_of_steps | default("steps_per_epoch", false)}}" />
      <add key="global_steps_count" value="{{ steps_per_epoch | default("number_of_steps", false)}}" />
      <add key="sleep_time" value="0" />
	   <add key="hours" value="0" />
      <add key="minutes" value="0" />
      <add key="technology" value="html" />
      <add key="dataset_xml_path" value="" />
      <add key="epsilon" value="{{epsilon}}" />
      <add key="initialValue" value="0" />
      <add key="gamma" value="{{gamma}}" />
      <add key="alpha" value="{{alpha}}" />
      <add key="stateIdentification" value="{{ stateIdentification }}" />
      <add key="dataSource" value="{{db_path | default("", false)}}" />
      <add key="username" value="{{db_username | default("", false)}}" />
      <add key="password" value="{{db_password | default("", false)}}" />
      <add key="initialCatalog" value="{{db_name | default("", false)}}" />
      <add key="complexActionProbability" value="{{complexActionProbability}}" />
	  <add key="driver" value="selenium" />
      <add key="locatorStrategy" value="" />
      <add key="saveScreenshots" value="false" />
	  <add key="relationMakerType" value="MAXSIMILARITY_MEANLABELS_NEW" />
      <add key="qualityCheck" value="WEIGHT" />
      <add key="existingTestSuite" value="" />
      <add key="application" value="{{application}}" />
	  <add key="tosca_workspace_path" value="C:\Tosca_Projects\Tosca_Workspaces\Mantis\Mantis.tws" />
      <add key="lemmatizer" value="{{abt_dependencies | default("", false)}}\Lemmatizer" />
      <add key="browserDriverPath" value="{{abt_dependencies | default("", false)}}\BrowserDriver" />
      <add key="scanningWidgetsFilter" value="{{abt_dependencies | default("", false)}}\Filters\{{filter_file_name}}" />
      <add key="word2vecModel" value="{{abt_dependencies | default("", false)}}\GoogleNews-vectors-negative300-SLIM.bin" />
      <add key="wordnet" value="{{abt_dependencies | default("", false)}}\Wordnet" />
      <add key="outputPath" value="{{win_outputPath | default("", false)}}" />
      <add key="linkPath" value="{{abt_dependencies | default("", false)}}\Link\Link.jar" />
      <add key="compiledLibraryPath" value="{{abtToolExecutablePath}}" />
      <add key="QAgentFilePath" value="{{win_working_directory}}\QAgent.json" />
      <add key="agent_class" value="{{agent_class}}" />
      <add key="useCaching" value="false" />
      <add key="numCachingIterations" value = "0" />
   </appSettings>
</configuration>
